<!-- templates/lain.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>serial propagation lain</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lain/css/style.css') }}">
</head>
<body>
    <button onclick="addGif()" class="lain_btn">lain</button>
    <div id="image-container"></div>

    <script src="{{ url_for('static', filename='lain/js/script.js') }}"></script>
</body>
</html>
