<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSSファイルのリンク -->
    <link rel="stylesheet" href="{{ url_for('static', filename='user/css/429.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Too Many Requests</title>
</head>
<body>
    <div class="screen">
        <div class="noise"></div>
            <h1>リクエストが多すぎます</h1>
            <p>我々のサイトはスパム防止のため、一度にサイトへのアクセス回数を制限しています。ご理解いただけますと幸いです。</p>
        </div>
    </div>

</body>
</html>
