<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='user/css/register.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="register-box">
        <h2>Login</h2>
        <form method="POST" action="{{ url_for('user.login') }}">
            {{ form.hidden_tag() }}
            <div class="input-group">
                <i class="fas fa-envelope"></i>
                {{ form.email(class_="form-control", placeholder="Email") }}
            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                {{ form.password(class_="form-control", placeholder="Password") }}
            </div>
            <button type="submit" class="button">Login</button>
        </form>
        <div class="register-link">
            <p>Don't have an account? <a href="{{ url_for('user.register') }}">Register here</a></p>
        </div>
        <div class="alert alert-danger">
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>