<!DOCTYPE html>
<!--ユーザーへのサイト説明です。-->
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='gate/css/styles.css')}}">
</head>
<body>
    <script>
    </script>
    <div>
        <a href="{{ url_for('static', filename='gate/css/styles.css')}}" alt="title image [多分表示されていない]"></a>
        <!-- ナビゲーションバー -->
    <div class="navbar" id="navbar">
        <div class="logo" ><a href="{{url_for('user.gate')}}">Past Relics</a></div>
            <div class="nav-links">
                <a href="{{ url_for('user.about') }}">About</a>
                <a href="{{ url_for('user.document') }}">Document</a>
                <a href="{{ url_for('user.policy') }}">Policy</a>
                <a href="#login">Login</a>
                <a href="#register">Register</a>
            </div>
        </div>
    </div>

    <!-- メインコンテンツ -->
    <div class="content" style="align-items:baseline;">
        <h1>Policy</h1>
        <h2>1. 利用規約</h2>
        <p>このウェブサイトにアクセスし、利用することで、以下の利用規約に同意したものとみなされます。</p>
        <p>これらの利用規約に同意しない場合は、サイトの使用を中止してください。</p>
        <p>・本サイト内のコンテンツの著作権はすべて当サイトの運営者に帰属します。<br>無断での転載、引用、複製はお控えください。</p>
        <p>・当サイトに掲載されている情報は、運営者が信頼できると判断したものですが、<br>その正確性や完全性について保証するものではありません。</p>
        <h2>2. プライバシーポリシー</h2>
        <p>当サイトでは、利用者のプライバシーを尊重し、適切に個人情報を保護いたします。</p>
        <p>・収集した個人情報は、当サイトのサービス向上や必要な連絡のために使用し、<br>その他の目的には使用しません。</p>
        <p>・利用者の個人情報は、法律に基づく場合を除き、第三者に提供することはありません</p>
        <h2>3. クッキーポリシー</h2>
        <p>当サイトでは、利用者の利便性向上のため、クッキー（Cookie）を使用する場合があります。</p>
        <p>・クッキーは、サイトの機能改善や利用者の体験向上のために使用されます。</p>
        <p>・クッキーによって収集される情報には、個人を特定できる情報は含まれません。</p>
        <p>・クッキーの利用を望まない場合は、ブラウザの設定でクッキーを無効にすることができます。<br>ただし、クッキーを無効にすると、サイトの一部機能が利用できなくなる場合があります。</p>
        <h2>4. 免責事項</h2>
        <p>当サイトの情報は、可能な限り正確かつ最新のものを提供するよう努めていますが、<br>以下の点について一切の責任を負いません。</p>
        <p>・当サイトの利用に関連して生じた損害（直接的または間接的問わず）</p>
        <p>・当サイトにリンクされている他のウェブサイトの内容や利用に関連して生じた損害</p>
        <h2>5. 外部リンクについて</h2>
        <p>当サイトには、第三者が運営する他のウェブサイトへのリンクが含まれる場合があります。</p>
        <p>・当サイトは、リンク先のサイトの内容やセキュリティについて責任を負いません。</p>
        <p>・利用者がリンク先のウェブサイトを利用する場合は、<br>そのサイトの利用規約やプライバシーポリシーをご確認ください。</p>
        <h2>6. 変更権限</h2>
        <p>当サイトの運営者は、利用規約やプライバシーポリシーを随時変更する権限を有します。</p>
        <p>・変更がある場合は、当サイトのページにてお知らせします。</p>
        <h2>7. お問い合わせ</h2>
        <p>当サイトの利用に関するご意見やご質問は、<br>以下のメールアドレスまでお問い合わせください。</p>
        <p>・お問い合わせ先：macaronkunkun@gmail.com</p>
    </div>
    <script src="{{ url_for('static', filename='gate/js/script.js')}}"></script>
</body>
</html>