<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>掲示板</title>
    <link rel="stylesheet" href="/static/past-relics/css/community.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

    <header>
        <h1>掲示板</h1>
        <p><a href="javascript:history.back()" class="back-button"><i class="fas fa-arrow-left"></i> 戻る</a></p>
    </header>

    <div class="thread">
        <h2>[朗報]新型モデルノヴァ,世界をひっくり返す</h2>
    <div class="post">
        <p class="info">1 名前：名無しの未来予測者 2036/07/20(土) 10:15:32 ID:-</p>
        <div class="message">
            <p>今日9時から、コスモ研究所の研究発表会にて、新型AIモデルが発表された。</p>
            <p>それにはなんと！なんと！感情が乗っているそうです...</p>
        </div>
    </div>
    <div class="post">
        <p class="info">2 名前：名無しのクリエイター 2036/07/20(土) 10:15:32 ID:-</p>
        <div class="message">
            <p>嘘乙</p>
            <p>AIに感情なんてありえんだろ、感情ってのはただの錯覚やで</p>
        </div>
    </div>
    <div class="post">
        <p class="info">3 名前：名無しのAI研究者 2036/07/20(土) 10:15:32 ID:-</p>
        <div class="message">
            <p>発表によると、ノヴァには人間の探求心に近いものを再現してるらしい</p>
            <p>シンギュラリティの一歩手前まで来てるってわけだ</p>
        </div>
    </div>

    <div class="post">
        <p class="info">4 名前：名無しの小学生 2036/07/20(土) 10:15:32 ID:-</p>
        <div class="message">
            <p>AIが感情持ったらどうなるの？</p>
        </div>
    </div>

    <div class="post">
        <p class="info">5 名前：名無しのAI信者 2036/07/20(土) 10:15:32 ID:-</p>
        <div class="message">
            <p>これまでのAIは「与えられたデータ」で動いてたけど、ノヴァは「知らないことを探す」ってことだ</p>
            <p>もうクリエイティブな仕事や研究ですらAIに取られる時代が来るんだな…。</p>
        </div>
    </div>

    <div class="post">
        <p class="info">6 </p>
    </div>
    </div>
        <!-- 他の投稿を追加する場合もこの形式で繰り返します -->
    </div>

    <footer>
        <p>© 2024 掲示板 | 思想: 「自由と平等を守る」</p>
    </footer>

</body>
</html>
